body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-size: 30px;
}

#hexagonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 240px;
    height: 280px;
    margin-bottom: 20px;
}

.hexagon {
    position: absolute;
    width: 100px;
    height: 115px;
    background-color: #89cff0;
    color: white;
    text-align: center;
    line-height: 115px;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    font-size: 50px;
}

#center {
    background-color: #ff7f50;
    z-index: 1;
}

#hex_1 {
    transform: translateX(-52px) translateY(-90px);
}

#hex_2 {
    transform: translateX(52px) translateY(-90px);
}

#hex_3 {
    transform: translateX(105px);
}

#hex_4 {
    transform: translateX(52px) translateY(90px);
}

#hex_5 {
    transform: translateX(-52px) translateY(90px);
}

#hex_6 {
    transform: translateX(-105px);
}

#wordInput {
    margin-bottom: 10px;
    padding: 5px;
    width: 70%;
}

#submit #clear {
    padding: 5px 10px;
}

#wordList {
    width: 80%;
    height: 18rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    overflow-y: scroll;
    list-style-type: none;
    background: white;
}

#infoMessage {
    color: red;
    margin-top: 10px;
}

.hexagon:hover {
    background-color: #b3e5fc;
}

#center:hover {
    background-color: #ff9f80;
}

#infoMessage {
    color: red;
    margin-top: 10px;
    visibility: hidden;
}

input, button {
    font-size: 30px;
}

#container {
    display: flex;
    justify-content: space-around;
}

#gameContainer {
    /* display: flex; */
    /* flex-direction: row-reverse; */
    align-items: flex-start;
    justify-content: center;
}

#leftColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#rightColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
}

#counterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 1em;
}

#columnsContainer {
    display: flex;
    justify-content: space-between;
    width: 90%;
}