<div class="container marketing">
        <div class="row">
        {% for header in site.data.navigation.headers %}
          <div class="col-lg-6 ">
            {% if header.image %}
            <img class="rounded-circle" width="140" height="140" src="{{site.baseurl}}/assets/img/main/{{header.image}}"/>
            {% else %}
            <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 140x140"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"/><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>
            {% endif %}
            <h2><a href="{{site.baseurl}}{{ header.url }}">{{ header.title }}</a></h2>
            <p>{{ header.subtitle }}</p>
            <p><a class="btn btn-secondary" href="{{site.baseurl}}{{ header.url }}" role="button">לדף &raquo;</a></p>
          </div><!-- /.col-lg-6 -->
          {% endfor %}
        </div><!-- /.row -->
    
        <h1>פוסטים אחרונים</h1>
        <hr class="featurette-divider">
        {% for post in site.posts limit:5 %}
        <div class="row featurette">
           <div class="col-md-7{% cycle '', ' order-md-2' %} text-right">
           <a href="{{site.baseurl}}{{post.url}}"><h2 class="featurette-heading">{{post.title}}</h2></a>
           <p class="lead">{{post.description}}</p>
           </div>
           <div class="col-md-5{% cycle '', ' order-md-1' %}">
           <a href="{{site.baseurl}}{{post.url}}">
             {% if post.image %}
             <div class="img-container">
             <img class="featurette-image mx-auto" src=" {{site.baseurl}}{{post.image}}"/>
            </div>
             {% else %}
             <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
             {% endif %}
           </a>
           </div>
         </div>
         <hr class="featurette-divider">
        {% endfor %}

       <h1>פוסטים נבחרים</h1>
       <hr class="featurette-divider">
       {% for feature in site.data.navigation.features %}
       <div class="row featurette">
          <div class="col-md-7{% cycle '', ' order-md-2' %} text-right">
          <a href="{{site.baseurl}}{{feature.url}}"><h2 class="featurette-heading">{{feature.title}}</h2></a>
          <p class="lead">{{feature.subtitle}}</p>
          </div>
          <div class="col-md-5{% cycle '', ' order-md-1' %}">
          <a href="{{site.baseurl}}{{feature.url}}">
            {% if feature.image %}
            <div class="img-container">
            <img class="featurette-image mx-auto" src="{{site.baseurl}}/assets/img/main/{{feature.image}}"/>
            </div>
            {% else %}
            <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: 500x500"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
            {% endif %}
          </a>
          </div>
        </div>
        <hr class="featurette-divider">
       {% endfor %}
      </div><!-- /.container -->