<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: "he" }}" dir="rtl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {%- seo -%}
    <title>לא מדויק</title>

    <link rel="canonical" href="{{site.baseurl}}/assets/css/carousel/">
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
  

    <!-- Bootstrap core CSS -->
    <link href="{{site.baseurl}}/assets/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">
    <link rel="icon" href="{{site.baseurl}}/favicon.ico" type="image/x-icon">

    {%- if site.environment == 'production' and site.google_analytics -%}
    {%- include google-analytics.html -%}
    {%- endif -%}
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/assets/css/carousel.css" rel="stylesheet">
    
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          processEscapes: true
        },
        TeX: {extensions: ["AMSmath.js","AMSsymbols.js"]},
        "HTML-CSS": { 
          linebreaks: { automatic: true }
        },
        SVG: { 
          linebreaks: { automatic: true } 
        }
      });
    </script>
    
    <script type="text/javascript" async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>
  
  
  </head>
  <body>
  {{ content }}
  
  {%- include footer.html -%}
  </body>
</html>